nav {
  background-color: #FFBB00;
  padding: 15px;
}

nav a {
  color: #fdfff6;
  margin-right: 20px;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
    /* background-image: "C:\Coding\Purwadhika\codeChallenge\landing-page\src\view\assets\logo putra hatam.jpg" ; */
    background-size: cover;
    background-position: center;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
}
  
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}
  
.company-overview, .products, .testimonials {
    padding: 40px 20px;
    text-align: center;
}
  
.company-overview h2, .products h2, .testimonials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.company-overview p, .products p, .testimonials p {
    font-size: 1.2rem;
    color: #555;
}
  
.company-tagline {
    font-size: 1.5rem;
    font-style: italic;
    margin: 20px 0;
}